/*---------------------------
    Opening text sequence
---------------------------*/
.animation {

    &__intro--text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        height: 30rem;
        width: 30rem;
        opacity: 0;
        animation: openingText 2s ease-in;

        @media screen and (min-width: 21em) {
            height: 34rem;
            width: 34rem;
        }

        @media screen and (min-width: 25em) {
            height: 37rem;
            width: 37rem;
        }

        @media screen and (min-width: 46.87em) {
            height: 60rem;
            width: 60rem;
        }

        @media screen and (min-width: 63.12em) {
            height: 75rem;
            width: 75rem;
        }
    }
}

@keyframes openingText {
    from {
        opacity: 0.4;
        stroke-dashoffset: 500;
    }

    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

/*---------------------------
    Broken car sequence
---------------------------*/
.animation {
    // Styling for the outline of the car
    &__broken--car {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: 50% 50%;
        opacity: 0;
        animation: brokenCar 5s linear 2s;
    }

    &__broken--container {
        animation: shake 1s 2 linear 4s;
    }

    // Shaking the car
    &__broke--car {
        height: 25rem;
        width: 25rem;
    }

    // Back tire
    &__back-wheel {
        position: absolute;
        top: 65%;
        left: 18%;
        height: 4.5rem;
        width: 4.5rem;
        animation: rotateBrokeTires 1s linear 3s;
    }

    // front tire
    &__front-wheel {
        position: absolute;
        top: 65%;
        left: 67.2%;
        height: 4.5rem;
        width: 4.5rem;
        animation: rotateBrokeTires 1s linear 3s;
    }


    // Exhaust smoke
    &__exhaust--broke {
        position: absolute;
        height: 2rem;
        width: 2rem;
        left: -5%;
        top: 67%;
        z-index: -1;
        opacity: 0;
        animation: exhaustSmokeBroken 1s 3 linear 3s;
    }

    // Engine smoke
    &__engine-smoke {
        position: absolute;
        height: 5rem;
        width: 5rem;
        top: 36%;
        right: 0%;
        z-index: -1;
        opacity: 0;
        animation: engineSmoke 2s linear 5s;
    }

    /*--------------------------------------------*/
    // Media queries for the svgs
    @media screen and (min-width: 350px) {
        &__exhaust--broke {
            left: -5%;
        }
    }
    /*--------------------------------------------*/
    
    @media screen and (min-width: 400px) {

        &__broke--car {
            height: 33rem;
            width: 33rem;
        }

        &__exhaust--broke {
            height: 2.8rem;
            width: 2.8rem;
            left: -8%;
        }
    
        &__back-wheel {
            height: 5.8rem;
            width: 5.8rem;
            left: 18.4%;
        }
    
        &__front-wheel {
            height: 5.8rem;
            width: 5.8rem;
            left: 67.6%;
        }

        &__engine-smoke {
            height: 6rem;
            width: 6rem;
            top: 36%;
            right: -1%;
        }
    }

    
    @media screen and (min-width: 600px) {
        &__broke--car {
            height: 45rem;
            width: 45rem;
        }

        &__exhaust--broke {
            height: 4rem;
            width: 4rem;
            left: -10%;
            top: 66%;
        }
    
        &__back-wheel {
            height: 8rem;
            width: 8rem;
            left: 18.5%;
        }
    
        &__front-wheel {
            height: 8rem;
            width: 8rem;
            left: 67.5%;
        }

        &__engine-smoke {
            height: 8rem;
            width: 8rem;
        }
    }

    @media screen and (min-width: 960px) {
        &__broke--car {
            height: 55rem;
            width: 55rem;
        }

        &__exhaust--broke {
            height: 6rem;
            width: 6rem;
            left: -12%;
            top: 65%;
        }
    
        &__back-wheel {
            height: 9.5rem;
            width: 9.5rem;
            top: 65.5%;
            left: 18.6%;
        }
    
        &__front-wheel {
            height: 9.5rem;
            width: 9.5rem;
            top: 65.5%;
            left: 67.8%;
        }

        &__engine-smoke {
            height: 10rem;
            width: 10rem;
            top: 35%;
            right: -2%;
        }
    }

    @media screen and (min-width: 1080px) {
        &__broke--car {
            height: 65rem;
            width: 65rem;
        }

        &__exhaust--broke {
            left: -10%;
            top: 66%;
        }
    
        &__back-wheel {
            height: 11.5rem;
            width: 11.5rem;
            left: 18.5%;
            top: 65.5%;
        }
    
        &__front-wheel {
            height: 11.5rem;
            width: 11.5rem;
            left: 67.5%;
            top: 65.5%;
        }

        &__engine-smoke {
            height: 12rem;
            width: 12rem;
            top: 34%;
            right: -2%;
        }
    }
}

/*-------Broken car animations---------*/

// Broken car animation
@keyframes brokenCar {
    0% {
        opacity: 0.8;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

// Rotating the tires animation
@keyframes rotateBrokeTires {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

// Exhaust smoke animation
@keyframes exhaustSmokeBroken {
    from {
        opacity: 0.4;
        transform: scale(0.8);
    }
    to {
        opacity: 1.4;
        transform: scale(1.2) translateX(-1rem);
    }
}

// Shake the car - This code was learnt from an article by Sarah Drasner on CSS Tricks https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

// Engine smoke animation
@keyframes engineSmoke {
    0% {
        opacity: 0.3;
        transform: scale(0.8) translateY(1.5rem);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1) translateY(.5rem);
    }

    75% {
        opacity: 1;
        transform: scale(1.4) translateY(-1rem);
    }

    90% {
        opacity: 0.7;
        transform: scale(1.6) translateY(-1.4rem)
    }

    100% {
        opacity: 0.4;
        transform: scale(1.8) translateY(-2rem);
    }
}

// Media queries to ensure engine smoke looks right on all screens

@media screen and (min-width: 400px) {
    // Engine smoke animation
    @keyframes engineSmoke {
        0% {
            opacity: 0.3;
            transform: scale(0.8) translateY(2rem);
        }

        50% {
            opacity: 0.8;
            transform: scale(1.4) translate(.5rem, -.5rem);
        }

        75% {
            opacity: 1;
            transform: scale(1.8) translate(1rem, -1rem);
        }

        90% {
            opacity: 0.7;
            transform: scale(2) translate(1.4rem, -1.4rem)
        }

        100% {
            opacity: 0.4;
            transform: scale(2.5) translate(1.6rem, -2rem);
        }
    }
}

/*---------------------------
    New car text sequence
---------------------------*/

.animation {
    
    &__new--text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        height: 30rem;
        width: 30rem;
        opacity: 0;
        animation: newText 2s linear 8s;

        @media screen and (min-width: 21em) {
            height: 34rem;
            width: 34rem;
        }

        @media screen and (min-width: 25em) {
            height: 37rem;
            width: 37rem;
        }

        @media screen and (min-width: 46.87em) {
            height: 60rem;
            width: 60rem;
        }

        @media screen and (min-width: 63.12em) {
            height: 75rem;
            width: 75rem;
        }
    }
}

@keyframes newText {
    from {
        opacity: 0.8;
        stroke-dashoffset: 300;
    }

    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

/*---------------------------
    Ending car sequence
---------------------------*/
.animation {

    &__new--car {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: 50% 50%;
        opacity: 0;
        animation: niceCar 7s ease-in 10s;
    }

    &__container {
        animation: moveCar 6s linear 12s;
    }

    &__nice--car {
        height: 30rem;
        width: 30rem;
        animation: shakeNiceCar 1s ease-in 19s;

        .light-beams {
            opacity: 0;
            animation: lightBeams 2s 5 linear 11s;
        }

        #new-car-light {
            fill: none;
            animation: carLightOn 9s ease-in 11s;
        }
    }

    &__exhaust-smoke-nice {
        position: absolute;
        top: 59%;
        left: 4%;
        height: 3.5rem;
        width: 3.5rem;
        opacity: 0;
        animation: exhaustSmoke 4s linear 13s;
    }

    &__nice--back-tire {
        position: absolute;
        left: 29.7%;
        top: 58%;
        height: 4rem;
        width: 4rem;
        animation: niceTires 1s 6 linear 12s;
    }

    &__nice--front-tire {
        position: absolute;
        left: 66.1%;
        top: 58%;
        height: 4rem;
        width: 4rem;
        animation: niceTires 1s 6 linear 12s;
    }

    /*--------------------------------------------*/
    // Media queries for the svgs
    @media screen and (min-width: 400px) {

        &__nice--car {
            height: 33rem;
            width: 33rem;
        }

        &__exhaust-smoke-nice {
            height: 3.3rem;
            width: 3.3rem;
        }
    
        &__nice--back-tire {
            height: 4.5rem;
            width: 4.5rem;
        }
    
        &__nice--front-tire {
            height: 4.5rem;
            width: 4.5rem;
        }
    }

    // Media queries for the svgs
    @media screen and (min-width: 600px) {
        &__nice--car {
            height: 45rem;
            width: 45rem;
        }

        &__exhaust-smoke-nice {
            height: 4.5rem;
            width: 4.5rem;
        }
    
        &__nice--back-tire {
            height: 5.8rem;
            width: 5.8rem;
        }
    
        &__nice--front-tire {
            height: 5.8rem;
            width: 5.8rem;
            left: 66.5%;
        }
    }

    // Media queries for the svgs
    @media screen and (min-width: 960px) {
        &__nice--car {
            height: 55rem;
            width: 55rem;
        }

        &__exhaust-smoke-nice {
            height: 4.5rem;
            width: 4.5rem;
        }
    
        &__nice--back-tire {
            height: 7.2rem;
            width: 7.2rem;
            top: 58%;
            left: 29.8%;
        }
    
        &__nice--front-tire {
            height: 7.2rem;
            width: 7.2rem;
            left: 66.4%;
            top: 58%;
        }
    }

    // Media queries for the svgs
    @media screen and (min-width: 1080px) {
        &__nice--car {
            height: 65rem;
            width: 65rem;
        }

        &__exhaust-smoke-nice {
            height: 5.5rem;
            width: 5.5rem;
        }
    
        &__nice--back-tire {
            height: 9rem;
            width: 9rem;
            left: 29.5%;
            top: 58.8%;
        }
    
        &__nice--front-tire {
            height: 9rem;
            width: 9rem;
            left: 66%;
            top: 58.8%;
        }
    }
}
/*-------Animations for nice car--------*/

// animation to fade car in
@keyframes niceCar {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 1;
    }
}

// animation to switch on car light
@keyframes carLightOn {
    0% {
        fill: none;
    }
    1% {
        fill: orange
    }
    100% {
        fill: orange;
    }
}

@keyframes lightBeams {
    from {
        opacity: 0;
        transform: translateY(-.2rem);
    }
    to {
        opacity: 1;
        transform: translateY(.2rem);
    }
}

// animation to shake car asif it has just started - This code was learnt from an article by Sarah Drasner on CSS Tricks https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
@keyframes shakeNiceCar {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(1px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

// animation to rotate the tires
@keyframes niceTires {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

// Animation to move the car off the screen
@keyframes moveCar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(170%);
    }
}

// animation to blow smoke out the exhaust
@keyframes exhaustSmoke {
    0% {
        opacity: 0;
        transform: scale(1) translateX(3rem);
        z-index: -1;
    }
    25% {
        opacity: 1;
        transform: scale(1.6) translateX(1rem);
        z-index: -1;
    }
    50% {
        opacity: 1;
        transform: scale(2) translateX(-0.5rem);
        z-index: -1;
    }
    75% {
        opacity: 1;
        transform: scale(3) translateX(-1rem);
        z-index: -1;
    }
    85% {
        opacity: 1;
        transform: scale(3.5) translateX(-1.5rem);
        z-index: -1;
    }
    100% {
        opacity: 1;
        transform: scale(150) translateX(-3rem);
        z-index: 10;
        
    }
}
